* {
    box-sizing: border-box;
}
body{
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 25vw;
    margin-right: 25vw;
}
.image{
    width: 25VW;
    }
.click{
    width: 25vW;
    height: 5vW;
    background: linear-gradient(to right, red, blue);
    font-family: Monaco;
    font-size: large;
    padding: 0px;
}
